@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand/Quicksand-Regular.otf");
}
@font-face {
  font-family: "Quicksand";
  font-style: italic;
  src: url("./fonts/Quicksand/Quicksand-Italic.otf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: light;
  src: url("./fonts/Quicksand/Quicksand-Light.otf");
}
@font-face {
  font-family: "Quicksand";
  font-style: italic;
  font-weight: light;
  src: url("./fonts/Quicksand/Quicksand-LightItalic.otf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: bold;
  src: url("./fonts/Quicksand/Quicksand-Bold.otf");
}
@font-face {
  font-family: "Quicksand";
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/Quicksand/Quicksand-BoldItalic.otf");
}