/*
	Columns Configuration
 */
$numberColumns: 12;
$paddingColumns: 10px;

/*
	Colors
 */
$flatBlack: #2E2E2E;
$flatGray: #DADFE3;
$flatBlue: #3598DC;
$flatGreen: #27AE61;
$flatTurquoise: #1BBC9D;
$flatYellow: #F1C40F;
$flatRed: #E84C3D;
